-# - if params[:type].present? && params[:type] == 'user'
-#   = render 'users/registrations/form'
-# - else
-#   = render 'pros/registrations/form'

!!!

%body
  -# / Wrapper
  #wrapper
    = render 'slides'
    .container
      .row
        .col-md-8.col-md-offset-2
          %h2.headline.centered.margin-top-80
            Pourquoi Owfleek ?
            %span.margin-top-25 Ayez la liberté de faire ce que vous aimez
      .row.icons-container
        / Stage
        .col-md-4
          .icon-box-2.with-line
            %i.im.im-icon-Map2
            %h3 Find Interesting Place
            %p Proin dapibus nisl ornare diam varius tempus. Aenean a quam luctus, finibus tellus ut, convallis eros sollicitudin turpis.
        / Stage
        .col-md-4
          .icon-box-2.with-line
            %i.im.im-icon-Mail-withAtSign
            %h3 Contact a Few Owners
            %p Maecenas pulvinar, risus in facilisis dignissim, quam nisi hendrerit nulla, id vestibulum metus nullam viverra porta purus.
        / Stage
        .col-md-4
          .icon-box-2
            %i.im.im-icon-Checked-User
            %h3 Make a Reservation
            %p Faucibus ante, in porttitor tellus blandit et. Phasellus tincidunt metus lectus sollicitudin feugiat pharetra consectetur.
    .parallax{"data-background" => "#{image_path('slides/slider-bg-02.jpg')}", "data-color" => "#36383e", "data-color-opacity" => "0.6", "data-img-height" => "505", "data-img-width" => "800", :style => "background-image: url(image_path('slides/slider-bg-02.jpg')); background-attachment: fixed; background-size: 1621px 1023.26px; background-position: 50% -206.552px;"}
      .parallax-overlay{:style => "background-color: rgb(54, 56, 62); opacity: 0.6;"}
      / Infobox
      .text-content.white-font
        .container
          .row
            .col-lg-6.col-sm-8
              %h2 Streamline Your Business
              %p We’re full-service, local agents who know how to find people and home each together. We use online tools with an unmatched search capability to make you smarter and faster.
              %a.button.margin-top-25{:href => "listings-list-with-sidebar.html"} Get Started
      / Infobox / End
    -# / Container / End
    %section.fullwidth.margin-top-70.margin-bottom-65{"data-background-color" => "#fff", :style => "background: rgb(255, 255, 255);"}
  / Container / Start
  .container
    .row
      .col-md-12
        %h3.headline.centered.margin-bottom-50
          Get an Exposure For Your Listing
    / Row / Start
    .row
      .col-md-12
        .pricing-container.margin-top-30
          / Plan #1
          .plan
            .plan-price
              %h3 Basic
              %span.value Free
              %span.period Free of charge one standard listing active for 30 days
            .plan-features
              %ul
                %li One Listing
                %li 30 Days Availability
                %li Standard Listing
                %li Limited Support
              %a.button.border{:href => "#"} Get Started
          / Plan #3
          .plan.featured
            .listing-badge
              %span.featured Featured
            .plan-price
              %h3 Extended
              %span.value $9.99
              %span.period One time fee for one listing, highlighted in the search results
            .plan-features
              %ul
                %li One Time Fee
                %li One Listing
                %li 90 Days Availability
                %li Featured In Search Results
                %li 24/7 Support
              %a.button{:href => "#"} Get Started
          / Plan #3
          .plan
            .plan-price
              %h3 Professional
              %span.value $19.99
              %span.period Monthly subscription for unlimited listings and availability
            .plan-features
              %ul
                %li Unlimited Listings
                %li Unlimited Availability
                %li Featured In Search Results
                %li 24/7 Support
              %a.button.border{:href => "#"} Get Started
    / Row / End
  / Container / End

  -# / Wrapper / End
  :javascript
    var tpj=jQuery;
    var revapi4;
    tpj(document).ready(function() {
    	if(tpj("#rev_slider_4_1").revolution == undefined){
    		revslider_showDoubleJqueryError("#rev_slider_4_1");
    	}else{
    		revapi4 = tpj("#rev_slider_4_1").show().revolution({
    			sliderType:"standard",
    			jsFileLocation:"/assets/scripts/",
    			sliderLayout:"auto",
    			dottedOverlay:"none",
    			delay:9000,
    			navigation: {
    				keyboardNavigation:"off",
    				keyboard_direction: "horizontal",
    				mouseScrollNavigation:"off",
    				onHoverStop:"on",
    				touch:{
    					touchenabled:"on",
    					swipe_threshold: 75,
    					swipe_min_touches: 1,
    					swipe_direction: "horizontal",
    					drag_block_vertical: false
    				}
    				,
    				arrows: {
    					style:"zeus",
    					enable:true,
    					hide_onmobile:true,
    					hide_under:600,
    					hide_onleave:true,
    					hide_delay:200,
    					hide_delay_mobile:1200,
    					tmp:'<div class="tp-title-wrap"></div>',
    					left: {
    						h_align:"left",
    						v_align:"center",
    						h_offset:40,
    						v_offset:0
    					},
    					right: {
    						h_align:"right",
    						v_align:"center",
    						h_offset:40,
    						v_offset:0
    					}
    				}
    				,
    				bullets: {
    			enable:false,
    			hide_onmobile:true,
    			hide_under:600,
    			style:"hermes",
    			hide_onleave:true,
    			hide_delay:200,
    			hide_delay_mobile:1200,
    			direction:"horizontal",
    			h_align:"center",
    			v_align:"bottom",
    			h_offset:0,
    			v_offset:32,
    			space:5,
    			tmp:''
    				}
    			},
    			viewPort: {
    				enable:true,
    				outof:"pause",
    				visible_area:"80%"
    		},
    		responsiveLevels:[1200,992,768,480],
    		visibilityLevels:[1200,992,768,480],
    		gridwidth:[1180,1024,778,480],
    		gridheight:[640,500,400,300],
    		lazyType:"none",
    		parallax: {
    			type:"mouse",
    			origo:"slidercenter",
    			speed:2000,
    			levels:[2,3,4,5,6,7,12,16,10,25,47,48,49,50,51,55],
    			type:"mouse",
    		},
    		shadow:0,
    		spinner:"off",
    		stopLoop:"off",
    		stopAfterLoops:-1,
    		stopAtSlide:-1,
    		shuffle:"off",
    		autoHeight:"off",
    		hideThumbsOnMobile:"off",
    		hideSliderAtLimit:0,
    		hideCaptionAtLimit:0,
    		hideAllCaptionAtLilmit:0,
    		debugMode:false,
    		fallbacks: {
    			simplifyAll:"off",
    			nextSlideOnWindowFocus:"off",
    			disableFocusListener:false,
    		}
    	});
    	}
    });


  #style-switcher
    %h2
      Color Switcher
      %a{:href => "#"}
        %i.sl.sl-icon-settings
    %div
      %ul#color1.colors
        %li
          %a.main{:href => "#", :title => "Main"}
        %li
          %a.blue{:href => "#", :title => "Blue"}
        %li
          %a.green{:href => "#", :title => "Green"}
        %li
          %a.orange{:href => "#", :title => "Orange"}
        %li
          %a.navy{:href => "#", :title => "Navy"}
        %li
          %a.yellow{:href => "#", :title => "Yellow"}
        %li
          %a.peach{:href => "#", :title => "Peach"}
        %li
          %a.beige{:href => "#", :title => "Beige"}
        %li
          %a.purple{:href => "#", :title => "Purple"}
        %li
          %a.celadon{:href => "#", :title => "Celadon"}
        %li
          %a.red{:href => "#", :title => "Red"}
        %li
          %a.brown{:href => "#", :title => "Brown"}
        %li
          %a.cherry{:href => "#", :title => "Cherry"}
        %li
          %a.cyan{:href => "#", :title => "Cyan"}
        %li
          %a.gray{:href => "#", :title => "Gray"}
        %li
          %a.olive{:href => "#", :title => "Olive"}
