-# - if params[:type].present? && params[:type] == 'user'
-#   = render 'users/registrations/form'
-# - else
-#   = render 'pros/registrations/form'

!!!

%body
  -# / Wrapper
  #wrapper
    = render 'slides'
    .container
      .row
        .col-md-8.col-md-offset-2
          %h2.headline.centered.margin-top-80
            Pourquoi Owfleek ?
            %span.margin-top-25 Ayez la liberté de faire ce que vous aimez
      .row.icons-container
        / Stage
        .col-md-4
          .icon-box-2.with-line
            %i.im.im-icon-Map2
            %h3 Find Interesting Place
            %p Proin dapibus nisl ornare diam varius tempus. Aenean a quam luctus, finibus tellus ut, convallis eros sollicitudin turpis.
        / Stage
        .col-md-4
          .icon-box-2.with-line
            %i.im.im-icon-Mail-withAtSign
            %h3 Contact a Few Owners
            %p Maecenas pulvinar, risus in facilisis dignissim, quam nisi hendrerit nulla, id vestibulum metus nullam viverra porta purus.
        / Stage
        .col-md-4
          .icon-box-2
            %i.im.im-icon-Checked-User
            %h3 Make a Reservation
            %p Faucibus ante, in porttitor tellus blandit et. Phasellus tincidunt metus lectus sollicitudin feugiat pharetra consectetur.
    .parallax{"data-background" => "#{image_path('slides/slider-bg-01.jpg')}", "data-color" => "#36383e", "data-color-opacity" => "0.6", "data-img-height" => "505", "data-img-width" => "800", :style => "background-image: url(#{image_path('slides/slider-bg-01.jpg')}); background-attachment: fixed; background-size: 1621px 1023.26px; background-position: 50% -206.552px;"}
      .parallax-overlay{:style => "background-color: rgb(54, 56, 62); opacity: 0.6;"}
      / Infobox
      .text-content.white-font
        .container
          .row
            .col-lg-6.col-sm-8
              %h2 Streamline Your Business
              %p We’re full-service, local agents who know how to find people and home each together. We use online tools with an unmatched search capability to make you smarter and faster.
              %a.button.margin-top-25{:href => "listings-list-with-sidebar.html"} Get Started
      / Infobox / End
    -# / Container / End
    %section.fullwidth.margin-top-70.margin-bottom-65{"data-background-color" => "#fff", :style => "background: rgb(255, 255, 255);"}
  / Container / Start
  .container
    .row.margin-bottom-65
      .col-md-12
        %h3.headline.centered.margin-bottom-50
          A small investment to secure your dreams
        %ul.listing-features.checkboxes.margin-top-0
          %li Elevator in building
          %li Friendly workspace
          %li Instant Book
          %li Wireless Internet
          %li Free parking on premises
          %li Free parking on street
          %li Elevator in building
          %li Friendly workspace
          %li Instant Book
          %li Wireless Internet
          %li Free parking on premises
          %li Free parking on street

    .row
      .col-md-12
        %h3.headline.centered.margin-bottom-50
          Get an Exposure For Your Listing
    / Row / Start
    .row
      .col-md-12
        .pricing-container.margin-top-30
          / Plan #1
          .plan
            .plan-price
              %h3 Basic
              %span.value Free
              %span.period Free of charge one standard listing active for 30 days
            .plan-features
              %ul
                %li One Listing
                %li 30 Days Availability
                %li Standard Listing
                %li Limited Support
              %a.button.border{:href => "#"} Get Started
          / Plan #3
          .plan.featured
            .listing-badge
              %span.featured Featured
            .plan-price
              %h3 Extended
              %span.value $9.99
              %span.period One time fee for one listing, highlighted in the search results
            .plan-features
              %ul
                %li One Time Fee
                %li One Listing
                %li 90 Days Availability
                %li Featured In Search Results
                %li 24/7 Support
              %a.button{:href => "#"} Get Started
          / Plan #3
          .plan
            .plan-price
              %h3 Professional
              %span.value $19.99
              %span.period Monthly subscription for unlimited listings and availability
            .plan-features
              %ul
                %li Unlimited Listings
                %li Unlimited Availability
                %li Featured In Search Results
                %li 24/7 Support
              %a.button.border{:href => "#"} Get Started
    / Row / End
  / Container / End

  -# / Wrapper / End
