/ Description
%p
  Ut euismod ultricies sollicitudin. Curabitur sed dapibus nulla. Nulla eget iaculis lectus. Mauris ac maximus neque. Nam in mauris quis libero sodales eleifend. Morbi varius, nulla sit amet rutrum elementum, est elit finibus tellus, ut tristique elit risus at metus.
%p
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.
/ Amenities
%h3.listing-desc-headline Amenities
%ul.listing-features.checkboxes.margin-top-0
  %li Elevator in building
  %li Friendly workspace
  %li Instant Book
  %li Wireless Internet
  %li Free parking on premises
  %li Free parking on street
%h3.listing-desc-headline.margin-top-60.margin-bottom-30 Location
#singleListingMap-container
  #singleListingMap{"data-latitude" => "40.70437865245596", "data-longitude" => "-73.98674011230469", "data-map-icon" => "im im-icon-Hamburger"}
  %a#streetView{:href => "#"} Street View
