-# .col-md-8
-#   description
-# .col-md-4
-#   = image_tag @pro.avatar, class: 'avatar'
-#   %br
-#   photo
-#   = @pro.email
-#

/ Header Container / End
/
  Slider
  \==================================================
.listing-slider.mfp-gallery-container.margin-bottom-0
  %a.item.mfp-gallery{"data-background-image" => "images/single-listing-01.jpg", :href => "images/single-listing-01.jpg", :title => "Title 1"}
  %a.item.mfp-gallery{"data-background-image" => "images/single-listing-02.jpg", :href => "images/single-listing-02.jpg", :title => "Title 3"}
  %a.item.mfp-gallery{"data-background-image" => "images/single-listing-03.jpg", :href => "images/single-listing-03.jpg", :title => "Title 2"}
  %a.item.mfp-gallery{"data-background-image" => "images/single-listing-04.jpg", :href => "images/single-listing-04.jpg", :title => "Title 4"}
/
  Content
  \==================================================
.container
  .row.sticky-wrapper
    .col-lg-8.col-md-8.padding-right-30
      / Titlebar
      #titlebar.listing-titlebar
        .listing-titlebar-title
          %h2
            Burger House
            %span.listing-tag Eat  Drink
          %span
            %a.listing-address{:href => "#listing-location"}
              %i.fa.fa-map-marker
              2726 Shinn Street, New York
          -# .star-rating{"data-rating" => "5"}
            -# .rating-counter
            -#   %a{:href => "#listing-reviews"} (31 reviews)
          %span.fa.fa-rating
          %span.fa.fa-rating
          %span.fa.fa-rating
          %span.fa.fa-rating
          %span.fa.fa-rating

      .style-2
        / Tabs Navigation
        %ul.tabs-nav
          %li
            %a{:href => "#tab1a"}
              %i.sl.sl-icon-pin
              Overview
          %li
            %a{:href => "#tab2a"}
              %i.sl.sl-icon-badge
              Services
          %li
            %a{:href => "#tab3a"}
              %i.sl.sl-icon-bubbles
              Reviews
        / Tabs Content
        .tabs-container
          #tab1a.tab-content{:style => "display: inline-block;"}
            = render 'overview'
          #tab2a.tab-content{:style => "display: inline-block;"}
            = render 'missions'
          #tab3a.tab-content{:style => "display: inline-block;"}
            = render 'reviews'

      .col-lg-4.col-md-4.margin-top-75.sticky
        / Book Now
        .boxed-widget
          %h3
            %i.fa.fa-calendar-check-o
            Book a Table
          .row.with-forms.margin-top-0
            / Date Picker - docs: http://www.vasterad.com/docs/listeo/#!/date_picker
            .col-lg-6.col-md-12
              %input#booking-date{"data-lang" => "en", "data-large-mode" => "true", "data-max-year" => "2020", "data-min-year" => "2017", :type => "text"}
              / Time Picker - docs: http://www.vasterad.com/docs/listeo/#!/time_picker
              .col-lg-6.col-md-12
                %input#booking-time{:type => "text", :value => "9:00 am"}
              / progress button animation handled via custom.js
              %button.progress-button.button.fullwidth.margin-top-5
                %span Book Now
            / Book Now / End
            / Contact
            .boxed-widget.margin-top-35
              %h3
                %i.sl.sl-icon-pin
                Contact
              %ul.listing-details-sidebar
                %li
                  %i.sl.sl-icon-phone
                  (123) 123-456
                %li
                  %i.sl.sl-icon-globe
                  %a{:href => "#"} http://example.com
                %li
                  %i.fa.fa-envelope-o
                  %a{:href => "#"} info@example.com
              %ul.listing-details-sidebar.social-profiles
                %li
                  %a.facebook-profile{:href => "#"}
                    %i.fa.fa-facebook-square
                    Facebook
                %li
                  %a.twitter-profile{:href => "#"}
                    %i.fa.fa-twitter
                    Twitter
                / <li><a href="#" class="gplus-profile"><i class="fa fa-google-plus"></i> Google Plus</a></li>
              / Reply to review popup
              #small-dialog.zoom-anim-dialog.mfp-hide
                .small-dialog-header
                  %h3 Send Message
                .message-reply.margin-top-0
                  %textarea{:cols => "40", :placeholder => "Your message to Burger House", :rows => "3"}
                  %button.button Send Message
              %a.send-message-to-owner.button.popup-with-zoom-anim{:href => "#small-dialog"}
                %i.sl.sl-icon-envelope-open
                Send Message
            / Contact / End
            / Opening Hours
            .boxed-widget.opening-hours.margin-top-35
              .listing-badge.now-open Now Open
              %h3
                %i.sl.sl-icon-clock
                Opening Hours
              %ul
                %li
                  Monday
                  %span 9 AM - 5 PM
                %li
                  Tuesday
                  %span 9 AM - 5 PM
                %li
                  Wednesday
                  %span 9 AM - 5 PM
                %li
                  Thursday
                  %span 9 AM - 5 PM
                %li
                  Friday
                  %span 9 AM - 5 PM
                %li
                  Saturday
                  %span 9 AM - 3 PM
                %li
                  Sunday
                  %span Closed
            / Opening Hours / End
            / Share / Like
            .listing-share.margin-top-40.margin-bottom-40.no-border
              %button.like-button
                %span.like-icon
                Bookmark this listing
              %span 159 people bookmarked this place
              / Share Buttons
              %ul.share-buttons.margin-top-40.margin-bottom-0
                %li
                  %a.fb-share{:href => "#"}
                    %i.fa.fa-facebook
                    Share
                %li
                  %a.twitter-share{:href => "#"}
                    %i.fa.fa-twitter
                    Tweet
                %li
                  %a.gplus-share{:href => "#"}
                    %i.fa.fa-google-plus
                    Share
                / <li><a class="pinterest-share" href="#"><i class="fa fa-pinterest-p"></i> Pin</a></li>
              .clearfix
          / Sidebar / End
