-# Footer
#footer.dark
  -# / Main
  .container
    .row
      .col-md-5.col-sm-6
        = image_tag 'logo-white.png', class: 'logo'
        %br/
        %br/
        %p
          Devenez votre propre patron et faites de votre passion, un métier qui vous anime.
          %br
          %br
          Que vous soyez, coiffeuse, maquilleuse, esthéticienne, prothésiste ongulaire...
          %br
          Owfleek  vous accompagne au quotidien.
          %br
      .col-md-4.col-sm-6
        %h4 Liens utiles
        %ul.footer-links
          %li
            %a{:href => "#"} FAQ
        .clearfix
      .col-md-3.col-sm-12
        %h4 Contactez-nous
        .text-widget
          Téléphone:
          %span 01 76 41 04 84
          %br/
          Email:
          %span
            contact@owfleek.com
          %br/
        %ul.social-icons.margin-top-20
          %li
            %a.facebook{href: 'https://www.facebook.com/owfleek/', target: '_blank'}
              %i.icon-facebook
          %li
            %a.instagram{href: 'https://www.instagram.com/owfleek/', target: '_blank'}
              %i.icon-instagram

    -# / Copyright
    .row
      .col-md-12
        .copyrights © #{Time.current.year} Owfleek. All Rights Reserved.
-# / Footer / End
-# / Back To Top Button
#backtotop
  %a{:href => "#"}
